# input files directory
data/**
!data/.gitkeep

# output files directory
## each mode directory
out/mode1/**
!out/mode1/.gitkeep
out/mode2/**
!out/mode2/.gitkeep
out/mode3/**
!out/mode3/.gitkeep
out/mode4/**
!out/mode4/.gitkeep
out/mode5/**
!out/mode5/.gitkeep
out/mode6/**
!out/mode6/.gitkeep

# cache files
**/__pycache__/